* {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #9b7002;
  border-radius: 20px;
}

body {
  margin: 0;
  background-color: #001f3f;
}
h1 {
  color: #fff;
  text-align: center;
  font-size: 3.5rem;
}
p {
  font-size: 1.8em;
  color: #fff;
  background-color: transparent;
}
h2 {
  color: #fff;
}
li,
ul {
  color: #000;
}
.card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(141, 141, 141, 0.1);
  width: 280px;
  height: 300px;
  padding: 10px;
  margin: 10px;
  background-color: #bdc3c7;
  text-align: center;
}
.card-img {
  border-radius: 50%;
  width: 80px;
}
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.3em;
  margin-bottom: 8px;
  background-color: transparent;
}
.card-subtitle {
  background-color: transparent;
}
.card-data {
  font-size: 1rem;
  background-color: #fff;
}

.welcome {
  display: grid;
  justify-content: center;
  text-align: center;
}
.welcome-logo {
  width: 80%;
  margin-top: 1em;
}
.welcome-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1em;
}
.welcome-button {
  padding: 10px 20px;
  background-color: #daa520;
  color: #000;
  border: 2px solid #e6e5e5;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.welcome-button:hover {
  color: #fff;
  background-color: #5f4607;
}

.lista-cards-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3em;
  justify-content: center;
  align-items: center;
}
.lista-container {
  margin-top: 2em;
}
.back-button {
  margin-top: 2em;
  margin-left: 1em;
  padding: 10px 20px;
  background-color: #daa520;
  color: #000;
  border: 2px solid #e6e5e5;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.back-button:hover {
  color: #fff;
  background-color: #9b7002;
}
.button-more {
  background-color: #daa520;
  border: 2px solid rgb(48, 47, 48);
  cursor: pointer;
  border-radius: 10px;
  padding: 8px;
}
.button-more:hover {
  color: #fff;
  background-color: #5f4607;
}

.footer {
  background-color: #daa520;
  padding: 20px;
  text-align: center;
  margin-top: 4em;
  width: 100%;
}

.social-links {
  margin-bottom: 10px;
}

.social-links a {
  margin-right: 10px;
  padding: 1em;
}
.scalable-svg {
  transition: transform 0.3s ease-in-out;
}

.scalable-svg:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .social-links {
    flex-direction: column;
  }

  .social-links a {
    margin-right: 0;
    margin-bottom: 5px;
  }
}
